@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,600|Varela+Round&display=swap');

body, html
{
    height: 100%;

    margin: 0 auto;
}

body
{
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}

header
{
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
}